<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/realtimeproducts.css">
    <title>Document</title>
</head>
<body>
    <div class="cart-box">
    <h1>Real-Time-Products</h1>
    <form class="products-box" id="createProductForm">
        <input type="text" id="titleInput" placeholder="Title" required>
        <input type="text" id="descriptionInput" placeholder="Description" required>
        <button type="submit">Create Product</button>
    </form>
    <ul id="productList"></ul>
</div>
{{!-- access to node modules --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script> 
</body>
</html>


